# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

# Model & dataset (too large for GitHub)
dataset/
model/plant_disease_model.h5
model/training_curves.png

# Uploaded images
app/static/uploads/

# OS
.DS_Store
Thumbs.db